html, body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

#player-status-panel{
    flex: 3;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: space-around;
    flex-direction: column;
}

#grid-panel{
    flex: 7
}

.sub-panel{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    padding: 5% 5% 5% 0%;
}

#weapon-and-aura-sub-panel{
    flex:1;
    display: flex;
    border: 0.05em solid black;
}

#weapon-micro-panel{
    max-width: 45%;
    margin-left: 5%;
    flex: 1;
    position: relative;
    border: 0.05em solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weapon-micro-panel-heading{
    display: block;
    border: 0.05em solid red;
}

.weapon-micro-panel-image{
    width: 100%;
    height: 100%;
    border: 0.05em solid red;
}

#aura-micro-panel{
    min-width: 45%;
    margin-left: 5%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.05em solid black;
}

.aura-micro-panel-heading{
    display: block;
    border: 0.05em solid red;
}

.aura-micro-panel-image{
    width: 100%;
    height: 100%;
    border: 0.05em solid red;
}

#active-poison-sub-panel{
    flex: 1;
    position: relative; 
    border: 0.05em solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.active-poison-panel-heading{
    display: block;
    border: 0.05em solid red;
}

#active-poison-sub-panel-images-section{
    width: 100%;
    height: 100%;
    border: 0.05em solid red;
    display: flex;
}

.active-poison-micro-panel{
    margin-left: 5%;
    flex: 1;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-poison-micro-panel-image{
    width: 100%;
    height: 100%;
}

#button-sub-panel{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 0.05em solid black;
}

.button{
    flex: 1;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(7,1fr);
    width: 40%;
    height: 40%;
    padding:1%;
}

.cell{
    margin: 2%;
    position: relative;
    max-height: 13vh;
}

.cell-image{
  width: 100%;
  height: 100%;
}

.disabled-cell-image {
    opacity: 0.5;
    pointer-events: none;
}

.cell-attribute,
.weapon-micro-panel-attribute,
.active-poison-micro-panel-attribute{
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: 2vh;
    padding-left: 1%;
    padding-right: 1%;
    background-color: tan;
    border: 0.05em solid black;
}