html, body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/static/asset/image/artifact_wall.png');
    background-repeat: repeat;
    background-size: 10vh;
    background-position: top left; 
}

.flex-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#player-status-panel {
    flex: 3;
    max-height: 90vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-self: baseline;
    flex-direction: column;
}

#grid-panel{
    flex: 7;
    background-color: #977261;
    border: 2px solid #4E3328;
}

#username,
#score {
    font-family: "VT323", monospace;
    font-weight: bold;
    font-style: normal; 
    font-size: 3.5vh;
    letter-spacing: 0.5px;
    background-color: #977261;
    color: #FCC510;
    border: 2px solid #4E3328; 
    padding: 0.5%;
    margin: 2% 5% 0% 5%;
}

.sub-panel{
    background-color: #977261;
    border: 2px solid #4E3328;
    margin: 2% 5% 0% 5%;
    padding: 5% 5% 5% 0%;
}

#player-attribute-sub-panel,
#button-sub-panel,
#screen-log-sub-panel{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-attribute-micro-panel{
    margin-left: 5%;
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFE181;
    border: 2px solid #C29500; 
}

.player-attribute-micro-panel > :nth-child(1) {
    display: block;
    font-family: "VT323", monospace;
    font-weight: normal;
    font-style: normal; 
    color: #7E5543;
}

.player-attribute-micro-panel> :nth-child(2){
    width: 100%;
    height: 100%;
}

.aura-overlay {
    position: absolute;
    left: 0;
    width: 100%;
    background: rgba(85 85 85 / 82%);
    transition: height 0.3s ease; 
}

.roll-dice-image{
    max-width: 30%;
    cursor: pointer;
    flex: 1;
    margin-left: 5%;
}

#pause-button{
    flex: 1;
    margin-left: 5%;
    background-image: url('/static/asset/image/button.png');
    background-size: 100% 100%;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    font-family: "Bowlby One", sans-serif;
    font-weight: 400;
    font-size: 4vh;
    font-style: normal;
    color: #7E5543;
    padding: 8%;
}

#screen-log-sub-panel-text{
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal; 
    font-size: 3vh;
    color: #FCC510;
    text-align: left;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(7,1fr);
    padding:1%;
}

.cell{
    position: relative;
    max-height: 13vh;
    border: 2px solid #C29500;
}

.cell-image{
  width: 100%;
  height: 100%;
  pointer-events: visible;
}

.disabled-cell-image {
    opacity: 0.3;
    pointer-events: none;
}

.cell-attribute,
.active-poison-micro-panel-attribute,
.weapon-micro-panel-attribute,
.aura-micro-panel-attribute{
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: 3vh;
    padding-left: 1%;
    padding-right: 1%;
    font-family: "VT323", monospace;
    font-weight: normal;
    font-style: normal; 
    color: #4E3328;
    background-color: #FFE181;
    border: 0.05em solid #C29500; 
}

#modal-dialog-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

#modal-dialog {
    display: none;
    position: fixed;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    justify-content: center;
    align-items: center;
}

#modal-content{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/static/asset/image/menu_panel_background_image.png');
    background-size: 100% 100%;
    padding: 5%;
}

#modal-heading{
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Press Start 2P", monospace;
    font-weight: bolder;
    font-style: normal; 
    text-transform: uppercase;
    color: #C29500;
    font-size: 8vh;
}

#modal-body{
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "VT323", monospace;
    font-weight: normal;
    font-style: normal; 
    font-size: 6vh;
    color: #FCC510;
}

#modal-buttons{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
}

#modal-buttons > * {
    flex: 1;
    background-image: url('/static/asset/image/button.png');
    background-size: 100% 100%;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    font-family: "Bowlby One", sans-serif;
    font-weight: 400;
    font-size: 4vh;
    font-style: normal;
    color: #7E5543;
    padding: 5%;
    margin: 0 5% 0 5%;
}