<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Dungeon Mania</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/style/gameStyle.css">
  </head>
  <body>
    <div class="flex-container">
      <!-- player status panel -->
      <div id="player-status-panel" class="panel">
        <span id="username"></span>
        <span id="score"></span>

        <div id="player-attribute-sub-panel" class="sub-panel">

            <div id="weapon-micro-panel" class="player-attribute-micro-panel">
              <span class="weapon-micro-panel-heading">WEAPON</span>
              <img class="weapon-micro-panel-image" src="/static/asset/image/placeholder.png">
              <span class="weapon-micro-panel-attribute"></span>
            </div>

            <div id="active-poison-micro-panel" class="player-attribute-micro-panel">
              <span class="active-poison-panel-heading">POISON</span>
              <img class="active-poison-micro-panel-image disabled-cell-image" src="/static/asset/image/artifact_poison_potion.png">
              <span class="active-poison-micro-panel-attribute"></span>
            </div>

            <div id="aura-micro-panel" class="player-attribute-micro-panel">
              <span class="aura-micro-panel-heading">AURA</span>
              <img class="aura-micro-panel-image" src="/static/asset/image/aura.png">
              <div class="aura-overlay"></div>
              <span class="aura-micro-panel-attribute">0</span>
            </div>

        </div>

        <div id="button-sub-panel" class="sub-panel">
          <button id="roll-dice-button" class="button">Roll</button>
          <button id="pause-button" class="button">Pause</button>
        </div>

        <div id="screen-log-sub-panel" class="sub-panel">
          <span id="dice-number"></span>
        </div>
      </div>

      <!-- grid panel -->
      <div id="grid-panel" class="grid-container panel">

        <% for(let i=0;i<grid.length;i++) { %>
            <% for(let j=0;j<grid[i].length;j++){ %>

              <div class="cell" data-x=<%= i %> data-y=<%= j %>>
                <img class="cell-image" src=<%= grid[i][j].getImageSource() %>>
                <span class="cell-attribute"><%= grid[i][j].getAttribute() %></span>
              </div>

            <% }; %>
        <% }; %>

      </div>
    </div>

    <div id="modal-dialog">
      <div id="modal-content">
        <span id="modal-heading">game paused</span>
        <span id="modal-body">press anywhere outside to resume</span>

        <div id="modal-buttons">
          <button id="replay-button" class="button">Replay</button>
          <button id="exit-button" class="button">Exit</button>
        </div>
      </div>
    </div>
    <div id="modal-dialog-overlay"></div>

    <script src="/static/script/gameScript.js" defer></script>
  </body>
</html>
